<div
  class="
    d-flex
    flex-column flex-md-row
    pb-3
    mb-4
    align-items-center
    border-bottom
    justify-content-between
    fixed-top
  "
>
  <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" />

  <nav class="d-inline-flex text-uppercase" style="font-size: larger">
    <a class="me-3 py-2 text-dark" href="#">Home</a>
    <a class="me-3 py-2 text-dark" href="#">Shop</a>
    <a class="me-3 py-2 text-dark" href="#">Contact</a>
  </nav>
  <div class="d-flex align-items-center">
    <a style="position: relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary me-2">Login</a>
    <a class="btn btn-outline-secondary me-3">Sign up</a>
  </div>
</div>
